.fixedSearch {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 120px;
}

.title {
    font-size: small;
}