.fixedSearch {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
}

.resultWindow {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 100px;
}


.filmCardContainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    border-width: thin;
    padding: 5%;
}

.listItem {
    margin: 0;
    padding: 0;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 0;
    margin-top: 2%;
    margin-right: 2%;
}