.App {
  text-align: right;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.search > input {
  margin: 5px;
  border-radius: 25px;
}

.search > input:hover {
  background-color: #ffffcc;
}

.header {
  background-color: #282c34;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff66a3;
  padding: 20px;
  cursor: pointer;
}