.commentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    background-color: transparent;
    color: white;
    border: none;
    padding-left: 25px;
}

.commentButton:hover {
    color: #fff;
    background-color: #282c34;
}

.commentButton:active {
    color: #fff;
    background-color: #282c34;
}

.commentButton:focus {
    outline: none;
}