.detailsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    background-color: transparent;
    color: white;
    border: none;
    padding-right: 25px;
}

.detailsButton:hover {
    color: #fff;
    background-color: #282c34;
}

.detailsButton:active {
    color: #fff;
    background-color: #282c34;
}

.detailsButton:focus {
    outline: none;
}
