.header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 55px;
    font-size: calc(10px + 2vmin);
    color: #ff66a3;
    padding-top: 3%;
    padding-bottom: 3%;
}