.navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: none;
    color: white;
    list-style: none;
}

.navBarItem {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 20%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

.navBarItem:hover {
    color: #ff66a3;
}