.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    list-style: none;
}

.navBarItem:first-child {
    border: none;
}

.navBarItem {
    padding-left: 50px;
    padding-right: 50px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: white;
}

.navBarItem:hover {
    color: #ff66a3;
}