.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 1%;
}

.search > input {
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;
}


.search > input:hover {
    border-radius: 25px;
}

.search > input:active {
    color: #fff;
    border-radius: 25px;
}

.search > input:focus {
    outline: none;
    box-shadow: 0 0 0 2pt#ff66a3;
    border-radius: 25px;
}

.submit {
    display: none;
}
